body {
height: 100%;
border: 1px solid #512500;
align: center;
text-align: center;
background-color: #E5DFDC;
color: #512500;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

#button {
  width: 300px
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 60px
}

.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 90px
}